/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/***

	Main.CSS
	By: Matthew Corr

***/

/* Site Wide */
html {
	font-family: 'Open Sans', monospace;
	background-color: #073f50;
	color: #e0eeee;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	color: #db504a;
	font-size: 1.2em;
	padding-top: 1.2em;
	padding-bottom: 0.8em;
	text-decoration: underline;
}

p {
	padding-bottom: 1em;
}

q {
	font-style: italic;
	font-weight: lighter;
	color: #e3b505;
}

blockquote {
	font-style: italic;
	color: #87d1f0;
}

em {
	font-weight: bold;
	color: #db504a;
}

ul {
	font-size: 0.8em;
	font-weight: lighter;
	list-style-type: disc;
}

a {
	color: #68b47f;
	font-size: 1.2em;
	text-decoration: none;
}

a:hover {
	color: #e3b505;
}

.inlinelink {
	text-decoration: underline;
}

/* Code Style */
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

code {
	font-family: Courier, 'New Courier', monospace;
	font-size: 12px;
}

.Code {
	margin-left: auto;
	margin-right: auto;
}

/* Navigation Bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04232c;
}

li.navlistitem {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #68b47f;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #04232c;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #E0EEEE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #68b47f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Social Media */
.SocialBar {
	background-color: #04232c;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.SocialBar a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-align: none;
	font-size: 17px;
}

.SocialBar p {
	float: right;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-align: none;
	font-size: 17px;
}

@media screen and (max-width: 660px){
	.SocialText {
		display: none;
	}

	i {
		font-size: 1.5em;
	}

}
/* Index */
.IndexHeader {
	text-align: center;
	margin-top: 1em;
	font-family: 'Raleway', cursive;
	font-size: 2.5em;
}

.name {
	margin-top: 5%;
	color: #68b47f;
}

.assignblock {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 25%;
	border: 2px solid #e8e8e8;
	padding: 20px;
	text-align: center;

}

.trentlogo {
	margin-top: 5%;
	align: center;
}

@media screen and (max-width: 660px){
	.IndexHeader {
		font-size: 7vw;
	}

	.assignblock {
		width: 80%;
		font-size: 1.5em;
	}

	.trentlogo {
		width: 70%;
	}
}

/* Assignment n */
.AssignmentHeader {
	text-align: center;
	margin-top: 1em;
	font-family: 'Raleway', cursive;
	font-size: 2.5em;
	margin-bottom: 1.5em;
}

.formattedText {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	margin-left:  20%;
	margin-right: 20%;
	line-height: 1.2em;
}

figcaption.formattedText {
	text-align: center;
	padding-bottom: 2vw;
}

.smallinfo {
	text-align: center;
	font-size: 0.7em;
	padding-bottom: 0.4em;
	padding-top: 0.2em;
}

.imgcontainer{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 660px){
	.AssignmentHeader {
		font-size: 7vw;
	}

	.formattedText {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Assignment 1 */

/* Assignment 2 */

/* Assignment 3 & 4*/

table, th, td {
    border: 2px dashed #e3b505;
    border-collapse: collapse;
}

th, td {
	 padding: 0.5em;
}

/* Login and Registration */
.btn {
		font-family: 'Raleway', cursive;
		width: 10%;
		background-color: #68b47f;
    border: none;
		border-radius: 0.5em;
    color: #e0eeee;
    padding: 14px 27px;
    text-align: center;
    display: block;
		margin-left: auto;
		margin-right: auto;
    font-size: 16px;
}

.btn:hover{
  background: #e3b505;
	color: #202020;
  text-decoration: none;
}

.FormInput {
	background-color: #04232c;
	color: white;
	width: 40%;
	display: block;
	border-radius: 0.5em;
	border: none;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.passwordrestrictions {
	text-align: center;
  font-size: 0.8em;
	font-style: italic;
}

/* Resume */
.resume {
	margin-left: 10%;
	margin-right: 10%;
}

hr {
border-color: #04232c;
}

#name {
	float: left;
}

.skillsList, #ContactInfo, ul {
	list-style-type: none;
}

#contactInfo {
	float: right;
	color:  #e3b505;
	font-size: 1.2em;
	line-height: 1.2em;
}

.clear {
	clear: both;
}

#location, #duration {
	color: #e3b505;
	font-weight: bold;
}

#location {
	float: left
}

#duration {
	float: right;
}
